.contactList {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  min-width: 300px;
  padding: 20px;
  overflow: overlay;
  /* overflow-y: auto;
  scrollbar-width: thin; */
}
